<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.alfredapp.ptr.alfredtoroam</string>
	<key>connections</key>
	<dict>
		<key>E76FC0C3-08D1-4211-AE17-AA25CF3C2614</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D83354E6-47E1-4571-9A00-891324E6E373</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>scott block</string>
	<key>description</key>
	<string>quick capture from alfred to roam</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>alfredtoroam</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{var:task}</string>
				<key>title</key>
				<string>Added task to {var:filename}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>9974F508-20FC-4F4A-BEA3-49BAA8644AD9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>require 'json'
require 'net/http'


query = ARGV[0]

uri = URI('https://www.phonetoroam.com/hooks/alfred')
res = Net::HTTP.post_form(uri, 'text' =&gt; query, 'alfred_key' =&gt; '96d2a653921cc968d8b685cb72', 'roam_key' =&gt; ENV['roam_key'], 'from' =&gt; ENV['alfred_workflow_uid'])
puts res.body
puts ENV</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>D83354E6-47E1-4571-9A00-891324E6E373</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>rmqc</string>
				<key>subtext</key>
				<string>text will be appended to your daily note</string>
				<key>text</key>
				<string>quick capture to roam</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>E76FC0C3-08D1-4211-AE17-AA25CF3C2614</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>quick capture from alfred to roam using your phonetoroam key. please set your roam_key variable correctly for this to work. you can find your roam_key by searching for "roam_key" in roam. it was part of what you copied under roam/js when installing phonetoroam. if you have not signed up for phonetoroam, please do so first at https://www.phonetoroam.com/</string>
	<key>uidata</key>
	<dict>
		<key>9974F508-20FC-4F4A-BEA3-49BAA8644AD9</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>note</key>
			<string>8. The Post Notification output lets you know that the task has been added through the Notification Center.</string>
			<key>xpos</key>
			<integer>850</integer>
			<key>ypos</key>
			<integer>25</integer>
		</dict>
		<key>D83354E6-47E1-4571-9A00-891324E6E373</key>
		<dict>
			<key>xpos</key>
			<integer>470</integer>
			<key>ypos</key>
			<integer>110</integer>
		</dict>
		<key>E76FC0C3-08D1-4211-AE17-AA25CF3C2614</key>
		<dict>
			<key>note</key>
			<string>1. This object sets the keyword you use to start adding a new task to your to-do list. Type "todo" followed by your task (e.g. "todo bake a cake")</string>
			<key>xpos</key>
			<integer>30</integer>
			<key>ypos</key>
			<integer>135</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>roam_key</key>
		<string>5c61d364d11cc52835fd</string>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>0.0.2</string>
	<key>webaddress</key>
	<string>phonetoroam.com</string>
</dict>
</plist>
